* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 30vh;
    background: linear-gradient( #aea920, #00f2fe);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 25px;
    border: none;
    background-color: white;
    color: #333;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #f1f1f1;
}

